*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor-secundaria: #E3813E;
    --cor-primaria: #212227;
    --cor-de-fundo: #e4e4e4;
}

header{
    background-color: var(--cor-primaria);
    padding: 2em;
    display: flex;
    justify-content:space-between;
}

header h1{
    font-family:"Boldonse", system-ui;
    font-size: medium;

    color: var(--cor-secundaria);
}

a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-right: 1em;
}

a:hover{
    color: var(--cor-secundaria);
}

.banner{
    display: flex;
    justify-content:center;

    height: 24em;
}

.banner-left h1{
    font-size: 4em;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -5px;
}

.banner-left p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
}

.banner-left{
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-rigth{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 15em;
}


body{
    background-color: var(--cor-de-fundo);
}

.menu{
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    gap: 5em;
    padding:1em;
}

.menu a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.prateleira{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4,19rem);
    max-width: 800px;
    margin: 1rem auto;
    justify-content: center;
    gap: 1.5rem;

}

.produtos{
    height: 30rem;
    width: 19rem;
    text-align: center;
    border-radius: 1rem;

    border: 1px solid gray;
    background-color: #2122273a;
}

.produtos img{
    width: 20rem;
    height: auto;
}

.produtos h1{
    font-family:"Boldonse", system-ui;
    font-weight: 100;
    font-size: medium;
}

.produtos p{
    font-family: system-ui;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.produtos a{
    background-color: var(--cor-de-fundo);
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;

    
}

.produtos a:hover{
    color: var(--cor-de-fundo);
    background-color:var(--cor-secundaria) ;
}

.banner2{
    display: flex;
    justify-content:center;
    background-color: var(--cor-primaria);
    height: 24em;
}

.banner-left2{
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-left2 h1{
    font-size: 4em;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -5px;
    color: var(--cor-de-fundo);
}

.banner-left2 p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
}